<section class="container excluir-aulas ff-inter">
    <div class="modal">
        <p>A aula será apagada.<br>Confirma a exclusão?</p>
        <div class="acoes">
            <button class="botao botao-excluir" (click)="excluirAula()" routerLink="/listarAula">Excluir</button>
            <button class="botao botao-cancelar" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
    <div class="overlay"></div>
</section>