.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .criar-aula {
    padding: 2rem 0;
  }
  
  .criar-aula form {
    background: #5c5c5c;
  
    border: none;
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
  
    padding: 2rem;
  }
  
  .criar-aula form label {
    color: #f7ebef;
    font-weight: bold;
    margin: 0 0 1rem;
    
  }
  .criar-aula form select {
    color: #000;
    margin: 0 0 1rem;
    font-size: 16px;
    width: 70%;
    height: 60px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .criar-aula form .input {
    border: none;
    height: 30px;
    padding: 1rem 2rem;
    border-radius: 7px;
    margin: 0.5rem 0 1.5rem;
  }
  
  
  .criar-aula form .text {
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 0.5rem 0 2rem;
  }
  
