<section class="container criar-aula ff-inter">
    <header class="header">
        <h2>Adicione uma <br>nova aula: </h2>
    </header>
    <form action="">
        <label for="materia">Materia:</label>
        <select 
            type="text"
            class="lista"
            id="materia"
            name="materia"
            [(ngModel)]="class.materia"
        >
            <option value="">Selecione...</option>
            <option value="1. Português">1. Português</option>
            <option value="2. Inglês">2. Inglês</option>
            <option value="3. Matemática">3. Matemática</option>
            <option value="4. Atualidades do SFN">4. Atualidades do SFN</option>
            <option value="5. Matemática Financeira">5. Matemática Financeira</option>
            <option value="6. Conhecimentos Bancários">6. Conhecimentos Bancários</option>
            <option value="7. Informática">7. Informática</option>
            <option value="8. Vendas e Negociação">8. Vendas e Negociação</option>
        </select>
        <label for="aula">Nome da aula:</label>
        <input 
            type="text"
            class="input"
            id="aula"
            name="aula"
            placeholder="Digite o nome da aula"
            [(ngModel)]="class.aula"
        >
        
        <label for="parte">Parte 1:</label>
        <input 
            type="text"
            class="input"
            id="parte1"
            name="parte1"
            placeholder="Digite o link da parte 1"
            [(ngModel)]="class.link[0]"
        >
        <label for="parte">Parte 2:</label>
        <input 
            type="text"
            class="input"
            id="parte2"
            name="parte2"
            placeholder="Digite o link da parte 2"
            [(ngModel)]="class.link[1]"
        >
        <label for="parte">Parte 3:</label>
        <input 
            type="text"
            class="input"
            id="parte3"
            name="parte3"
            placeholder="Digite o link da parte 3"
            [(ngModel)]="class.link[2]"
        >
        <label for="parte">Parte 4:</label>
        <input 
            type="text"
            class="input"
            id="parte4"
            name="parte4"
            placeholder="Digite o link da parte 4"
            [(ngModel)]="class.link[3]"
        >
        <label for="parte">Parte 5:</label>
        <input 
            type="text"
            class="input"
            id="parte5"
            name="parte5"
            placeholder="Digite o link da parte 5"
            [(ngModel)]="class.link[4]"
        >
        <label for="parte">Parte 6:</label>
        <input 
            type="text"
            class="input"
            id="parte6"
            name="parte6"
            placeholder="Digite o link da parte 6"
            [(ngModel)]="class.link[5]"
        >
        <label for="parte">Parte 7:</label>
        <input 
            type="text"
            class="input"
            id="parte7"
            name="parte7"
            placeholder="Digite o link da parte 7"
            [(ngModel)]="class.link[6]"
        >
        <label for="parte">Parte 8:</label>
        <input 
            type="text"
            class="input"
            id="parte8"
            name="parte8"
            placeholder="Digite o link da parte 8"
            [(ngModel)]="class.link[7]"
        >
        <label for="material">Material da aula:</label>
        <input 
            type="text"
            class="input"
            id="material"
            name="material"
            placeholder="Digite o material da aula"
            [(ngModel)]="class.material"
        >
        

    <div class="acoes">
        <button (click)="createClass()" class="botao">Salvar</button>
        <button (click)="cancelar()" class="botaocancelar">Cancelar</button>
    </div>
    </form>
</section>