.aulas {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 7px;
  }

  .titulo{
    margin-bottom: 20px;
    text-transform: uppercase;
  }