@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h2 {
  color: #070707;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin: 1rem auto 2rem;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.botao {
  background: #33599a;
  color: #f7e837;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #f7e837;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 16px;
}

.botaocancelar {
  background: #f7e837;
  color: #33599a;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #33599a;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 16px;
}

.botao:hover {
  border: 2px solid #33599a;
  color: #33599a;
  background-color: #f7e837;
  font-size:20px;
}

.botaocancelar:hover {
  border: 2px solid #33599a;
  color: #33599a;
  background-color: white;
  font-size:20px;
}

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}